{% extends "admin/change_form.html" %}

{% block after_field_sets %}
    {{ block.super }}

    <fieldset class="module aligned">
        <details>
            <summary>Media</summary>
            <div class="form-row">
                <div>
                    <a class="button" href="{% url 'admin:blog_postmedia_add' %}" target="_blank" rel="noopener">Upload media</a>
                    <p class="help">Upload a file, then paste its Markdown snippet into the note.</p>
                </div>
            </div>
        </details>
    </fieldset>
{% endblock %}

{% block submit_buttons_bottom %}
    {{ block.super }}

    <div class="submit-row">
        <input type="submit" name="_publish_now" value="Publish Now">
    </div>
{% endblock %}
