{% extends "blog/base.html" %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block head %}
<link rel="canonical" href="{{ canonical_url }}">
{% endblock %}

{% block content %}
<article class="h-entry post-entry">
    <header class="post-header">
        <h1 class="p-name post-title">{{ post.title }}</h1>
        <p class="post-date">
            <time class="dt-published" datetime="{{ post.published_at|date:'c' }}">
                {{ post.published_at|date:"F j, Y" }}
            </time>
            <data class="u-url" value="{{ canonical_url }}"></data>
            <span class="p-author h-card"><data class="p-name" value="Antonio Santos"></data><data class="u-url" value="{% url 'blog:home' %}"></data></span>
            {% if post.description %}
                <data class="p-summary" value="{{ post.description }}"></data>
            {% endif %}
        </p>
    </header>

    <div class="e-content prose prose-invert post-prose">
        {{ post.body_html|safe }}
    </div>
</article>
{% endblock %}
