{% extends "blog/base.html" %}

{% block title %}
Subscribe
{% endblock %}

{% block content %}
<section class="subscribe-section">
    <h2 class="page-heading">Subscribe</h2>

    <form class="subscribe-form" action="{% url 'blog:subscribe' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{% url 'blog:subscribe' %}">

        <div class="form-field">
            <label for="subscribe-email">
                Email address
            </label>
            <input
                id="subscribe-email"
                name="email"
                type="email"
                placeholder="you@example.com"
                autocomplete="email"
                required
            >
        </div>

        <button
            type="submit"
        >
            Subscribe
        </button>
    </form>
</section>
{% endblock %}
